@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0; list-style:none;box-sizing: border-box;}
.myCalendar{width:100%;position:fixed; left:0; top:40px; background:#fff;z-index:1001;}
.myCalendar a{position:absolute;  top:5px; text-align:center; width:40px; height:30px; text-decoration:none; font-size:15px;}
.cancle{ left:15px;color:#999999;font-size:14px;}
.finish{ position:absolute; right:15px; top:0px; background:#7ecef4; color:#fff; font-size:16px; border-radius:5px; padding:4px 8px; cursor:pointer;}
.myCalendar .prev{left:9% ;top:58px;color:#333;font-size:13px;color:#7ecef4;}
.myCalendar .next{right:9%;top:58px;color:#333;font-size:13px;color:#7ecef4;}
.myCalendar .prev img{width:10px;height:18px;vertical-align:middle;margin-right:3px;margin-bottom:4px;}
.myCalendar .next img{width:10px;height:18px;vertical-align:middle;margin-left:3px;margin-bottom:4px;}
.myCalendar h2{width:100%; height:20px; line-height:15px; text-align:center;font-size:14px;color:#7ecef4;font-weight:normal;padding:0 5%;}
.myCalendar ol{overflow:hidden;padding:0 5%;}
.myCalendar ol li{float:left; width:14.2%; height:30px; text-align:center; line-height:30px;font-size:14px;color:#333333;}
.myCalendar ul{overflow:hidden;background:#ffffff;padding:0 5%;}
.myCalendar ul li{float:left; width:14.2%; height:30px; text-align:center; line-height:30px;color:#7ecef4;}
.myCalendar ol li.week_end{color:red;}
.myCalendar ul li.today{ color:#ffffff; background:#7ecef4; border-radius:4px;}*/
.today{ color:#fff; background:#7ecef4; border-radius:4px;}
.myCalendar ul li.past{color:#d7d7d7;}
.past{color:#999;}
.canUse{ color:#333; cursor:pointer;background-color:#ffffff;}
.notUse{color:#999999;background:#f3f5f7;}
/*.current{color:#ffffff;cursor:pointer; background:#7ecef4;}*/
.current{color:#333;cursor:pointer; background:#FFF;}
.currentclick{color:#ffffff;cursor:pointer; background:#7ecef4;}
.p1{background:#f3f5f7;padding:10px 5%;}
.p1 span{ width:32%; height:40px; line-height:40px; margin-top:10px; margin-left:1%; margin-bottom:5px; border-radius:4px; font-size:13px;text-align:center;display:inline-block;border:1px solid #d7d7d7;}
.date_h4{ text-align:center; height:40px; line-height:40px;margin-top:20px;font-size:17px;color:#333333;font-weight:normal;}
.date_h4.time{background:#f3f5f7; margin-top:4px; padding-top:8px;}
.chose_time_listener{
	display:none;
	position:fixed;top:0;width:100%;height:100%;
	opacity: 0.3;
	filter: alpha(opacity=30);
	background-color: #000000;
	z-index:1000;
  }
.cur{ cursor:pointer;}